.c-info {
  &__title {
    margin-bottom: 1rem;
    h1 {
      display: inline-block;
      padding-right: 0.5rem;
      margin-bottom: 0.7rem;
    }
  }
  &__year {
    color: $global-text-Color-light;
    font-size: 1.2rem;
    padding-left: .5rem;
  }
  &__genre {
    li {
      display: inline-block;
      padding: .4rem 1rem;
      border-radius: 200rem;
      border: solid 1px $global-accent-Color;
      margin-bottom: 3rem;
    }
  }
  &__plot {
    margin-bottom: 3rem;
  }
}
