.o-movie {
    display: grid;
    gap: 3rem;
    padding: 2rem 1rem 0 1rem;
}

@media screen and (min-width: $global-breakpoint-sm) {
    .o-movie {
        padding: 3rem 3rem 0 3rem;
        grid-template-areas: 
        "poster info"
        "rating rating";
        grid-template-columns: 15rem auto;
        &__poster {
            grid-area: "poster";
        }
        &__info {
            grid-area: "info";
        }
        &__rating {
            grid-area: "rating";
            grid-column: 1 / 3;
        }
    }
}

@media screen and (min-width: $global-breakpoint-md) {
    .o-movie {
        padding: 5rem 2rem 0 2rem;
        grid-template-areas: 
        "poster info rating";
        grid-template-columns: 1fr 2fr 1fr;
        &__rating {
            grid-column: unset;
        }
    }
}